* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	background-color: #f5f5f5;
	font-size: 16px;
}
.player {
	height: 64px;
	width: 100%;
	background-color: white;
}
.player .nav {
	width: 1260px;
	height: 64px;
	margin: 0 auto;
	/* margin容器级居中 */
}
.player ul {
	list-style: none;
}
.player .nav ul li {
	float: left;
	/* width: 120px; */
	text-align: center;
}
.player a {
	text-decoration: none;
	display: block;
	color: #000;
	height: 64px;
	line-height: 64px;
	padding: 0 5px;
}
.player .nav .nav_border_left ul li {
	width: 100px;
	border-left: 2px solid #d5d5d6;
}
.player .nav .nav_logo {
	/*  float: left与nav_nr组合使用，实现浮动*/
	float: left;
	height: 64px;
	line-height: 64px;
}
.player .nav .nav_logo a {
	height: 44px;
	width: 250px;
	padding: 10px 50px;
	padding-left: 0;
}
.player .nav .nav_nr {
	/*  float: left与nav_logo组合使用，实现浮动*/
	float: left;
}
.player .nav .nav_nr ul li a {
	display: flex;
	display: block;
	justify-content: center;
	align-items: center;
	/* 以上四句用于将a标签布满li标签 */
	width: auto;
	height: 64px;
	line-height: 64px;
}
.player .nav_nr .nr_sec {
	color: rgb(153, 201, 77);
}
.player .nav_nr .nr_last {
	border-right: 2px solid #d5d5d6;
}

.player .nav .nav_search {
	/*  float: left与nav_logo组合使用，实现浮动在一行上*/
	float: left;
	/* padding: 0 15px; */
	padding-left: 30px;
	height: 64px;
	line-height: 64px;
}
.player .nav .nav_search input {
	/* padding: 8px; */
	text-indent: 15px;
	height: 33px;
	width: 200px;
	/* 圆角去边框阴影 */
	border-radius: 15px;
	border: 1px solid #dbdbdb;
	outline: none;
}
.player .nav .nav_search .input2 {
	width: 70px;
	height: 33px;
	background-color: rgb(53, 199, 72);
	text-indent: 0;
}
.player .nav .nav_login {
	/*  float: left与nav_logo组合使用，实现浮动在一行上*/
	float: right;
	padding: 0 30px;
	padding-right: 0;
}
.player .cl {
	clear: both;
	height: 50px;
}
.player .content {
	text-align: center;
	width: 1260px;
	height: 900px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #e4f5f5;
}
.player .grxxnr {
	width: 800px;
	height: 800px;
	margin: 0 auto;
	background-color: #fff;
}
.player .xx_inp {
	width: 400px;
	margin: 0 auto;
	padding: 23px 0;
}
.player .xx_inp input {
	width: 400px;
	height: 40px;
}
.player .xx_inp p {
	float: left;
	padding: 5px 0;
}
.player .xx_btn {
	width: 400px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.player .btn_inp {
	float: left;
	/* margin: 0 auto; */
}
.player .btn_inp input {
	height: 35px;
	width: 100px;
	/* margin: 0 auto; */
	margin: 0 50px;
	border-radius: 15px;
	border: 1px solid #dbdbdb;
	outline: none;
}
.player .inp2 {
	margin: 0 0 0 100px;
}
.player .company {
	padding: 10px 0;
	/* height: 208px;  */
	text-align: center;
}
